#blogWrap p {
  line-height: 3.2rem;
  font-size: 1.6rem;
  margin-top: 3rem;
}

#blogWrap h1 {
  line-height: 4rem;
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 10rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem dashed var(--key-color);
}

#blogWrap h2 {
  line-height: 2.4rem;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 6rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem dashed var(--sub-color-2);
}

#blogWrap h3,
#blogWrap h4,
#blogWrap h5,
#blogWrap h6 {
  line-height: 2.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 6rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem dashed var(--sub-color-3);
}

#blogWrap ol {
  list-style: decimal;
}

#blogWrap > ul,
#blogWrap > ol {
  margin-top: 3rem;
}

#blogWrap ol li,
#blogWrap ul li {
  margin-left: 2rem;
  line-height: 3.2rem;
  font-size: 1.6rem;
  margin-top: 1rem;
}

#blogWrap ul li:before {
  content: '';
  position: absolute;
  margin-top: 1.4rem;
  margin-left: -1.8rem;
  background-color: var(--sub-color);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 2px;
  opacity: 0.7;
}

#blogWrap pre {
  margin: 3rem 0 0;
  background: var(--code-background-color);
  overflow: scroll;
  padding: 2rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--sub-color);
}

#blogWrap pre code {
  font-size: 1.4rem;
  line-height: 3rem;
}

#blogWrap :not(pre) > code {
  line-height: 3.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--text-color);
}

#blogWrap .token {
  font-size: 1.4rem;
  line-height: 3rem;
}

#blogWrap img {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  max-height: 400px;
  background: var(--main-background);
}

#blogWrap table {
  max-width: 800px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

#blogWrap table th,
#blogWrap table td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid var(--sub-color);
  font-size: 1.6rem;
  line-height: 3.2rem;
}

#blogWrap table th {
  background: var(--table-th-background-color);
  font-weight: bold;
  vertical-align: bottom;
}

#blogWrap table td {
  background: var(--table-td-background-color);
}

#blogWrap a {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: var(--blog-a-clor);
}

#blogWrap s {
  line-height: 3.2rem;
  font-size: 1.6rem;
}
