/*
  -----------------
    Reset
  -----------------
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 1rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}

/*
  -----------------
    Common
  -----------------
*/
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  --text-color: #fff;
  --a-color: #fff;
  --blog-a-clor: #8ab4f8;
  --main-background: #111;
  --key-color: #f64f59;
  --sub-color: #888;
  --sub-color-2: #4695ea;
  --sub-color-3: #383838;
  --table-th-background-color: #3c3f46;
  --table-td-background-color: #131313;
  --code-background-color: #111620;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  position: relative;
  background-color: var(--main-background);
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: var(--main-background);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: var(--a-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.text-gradient {
  font-weight: bold;
  text-align: center;
  background: #12c2e9;
  background: -webkit-linear-gradient(bottom right, #12c2e9, #c471ed, #f64f59);
  background: linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
  -----------------
    Blog
  -----------------
*/
#blogWrap p {
  line-height: 3.2rem;
  font-size: 1.6rem;
  margin-top: 3rem;
}

#blogWrap h1 {
  line-height: 4rem;
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 10rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem dashed var(--key-color);
}

#blogWrap h2 {
  line-height: 2.4rem;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 6rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem dashed var(--sub-color-2);
}

#blogWrap h3,
#blogWrap h4,
#blogWrap h5,
#blogWrap h6 {
  line-height: 2.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 6rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem dashed var(--sub-color-3);
}

#blogWrap ol {
  list-style: decimal;
}

#blogWrap > ul,
#blogWrap > ol {
  margin-top: 3rem;
}

#blogWrap ol li,
#blogWrap ul li {
  margin-left: 2rem;
  line-height: 3.2rem;
  font-size: 1.6rem;
  margin-top: 1rem;
}

#blogWrap ul li:before {
  content: '';
  position: absolute;
  margin-top: 1.4rem;
  margin-left: -1.8rem;
  background-color: var(--sub-color);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 2px;
  opacity: 0.7;
}

#blogWrap pre {
  margin: 3rem 0 0;
  background: var(--code-background-color);
  overflow: scroll;
  padding: 2rem;
  border-radius: 1rem;
}

#blogWrap pre code {
  font-size: 1.4rem;
  line-height: 3rem;
}

#blogWrap :not(pre) > code {
  line-height: 3.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--text-color);
}

#blogWrap .token {
  font-size: 1.4rem;
  line-height: 3rem;
}

#blogWrap img {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  max-height: 400px;
  background: var(--main-background);
}

#blogWrap table {
  max-width: 800px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

#blogWrap table th,
#blogWrap table td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid var(--sub-color);
  font-size: 1.6rem;
  line-height: 3.2rem;
}

#blogWrap table th {
  background: var(--table-th-background-color);
  font-weight: bold;
  vertical-align: bottom;
}

#blogWrap table td {
  background: var(--table-td-background-color);
}

#blogWrap a {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: var(--blog-a-clor);
}

#blogWrap s {
  line-height: 3.2rem;
  font-size: 1.6rem;
}

/*
  -----------------
    nend Ad
  -----------------
*/
.nendAd {
  display: block;
}

.nendAd .adImg {
  width: 100%;
}

.nendAd .shortText {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem 0;
  color: #fff;
}

.nendAd .promotionName {
  font-size: 0.9rem;
  line-height: 1.3rem;
  padding: 0.2rem 1rem 2rem;
  color: #aebacf;
}

.nendAd .nend_ad_define {
  font-size: 0.9rem;
}

/*
  -----------------
    Anime
  -----------------
*/
@keyframes border-color-change {
  0%,
  100% {
    border-color: #ff1493;
  }

  25% {
    border-color: #7fff00;
  }

  50% {
    border-color: #0091ea;
  }

  75% {
    border-color: #9400d3;
  }
}

@keyframes color-change {
  0%,
  100% {
    color: #ff1493;
  }

  25% {
    color: #7fff00;
  }

  50% {
    color: #0091ea;
  }

  75% {
    color: #9400d3;
  }
}

@keyframes purun {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  15% {
    transform: scale(0.9, 0.9) translate(0%, 2%);
  }
  30% {
    transform: scale(1.1, 0.8) translate(0%, 5%);
  }
  50% {
    transform: scale(0.8, 1.1) translate(0%, -5%);
  }
  70% {
    transform: scale(0.9, 0.9) translate(0%, 2%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

@keyframes blink {
  78% {
    color: #962424;
  }
  79% {
    color: #282d36;
  }
  81% {
    color: #ff4a4a;
  }
  82% {
    color: #962424;
  }
  83% {
    color: #962424;
  }
  92% {
    color: #282d36;
  }
  92.5% {
    color: #ff4a4a;
  }
}
